@use 'sass:list';
@use './constant/variables';

@for $i from 1 through 3 {
  .#{list.nth(variables.$btn-sels, $i)} {
    background-color: list.nth(variables.$clrs, $i);
  }
}

div {
  width: 200px;
  height: 100px;
  margin: 10px 0;
}